* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #5333ed;
}

.header {
    height: 70px;
    border-bottom: 1px solid #000000;
}

#toggle-menu {
    width: 20px;
    height: 20px;
    margin: 25px 0;
    float: left;
}

#toggle-menu:hover {
    cursor: pointer;
}

#logo {
    width: 200px;
    position: absolute;
    margin: 15px auto;
    left: 0;
    right: 0;
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
}

#toggle-search {
    width: 20px;
    height: 20px;
    margin: 25px 0;
    float: right;
}

#toggle-search:hover {
    cursor: pointer;
}

.search {
    display: none;
}

.search-field {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 18px;
    box-sizing: border-box;
}

.search-field:focus {
    outline: none;
    border: 1px solid #5333ed;
}

.navigation {
    display: none;
    height: 220px;
    border-bottom: 1px solid #000000;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    font-size: 12px;
}

.navigation ul li a {
    color: #000000;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 15px 0;
}

.navigation ul li a:hover {
    background-color: #000000;
    color: #ffffff;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

.post .info {
    font-size: 14px;
    font-weight: 300;
    color: #818181;
}

.post .info .bullet {
    margin: 0 5px;
}

.post .excerpt {
    margin: 10px 0;
}

.post .comments {
    margin-top: 10px;
    display: inline-block;
    color: #818181;
    font-size: 14px;
}

.post .comments:hover {
    color: #5333ed;
}

.headline .post {
    margin: 25px 0;
}

.headline .post img {
    width: 100%;
    height: 500px;
}

.headline .post .title {
    font-size: 48px;
    margin: 10px auto;
}

.section {
    margin: 25px 0;
    border-top: 1px solid #d3d3d3;
    clear: both;
}

.section h2 {
    padding: 10px 0;
}

.section .post {
    width: 30%;
    margin: 10px 0 0 0;
    display: inline-block;
    vertical-align: top;
}

.section .post:nth-child(3n+1),
.section .post:nth-child(3n+3) {
    margin-left: 5%;
}

.section .post img {
    width: 100%;
    height: 200px;
    margin: 10px 0;
}

.section .post .title {
    font-size: 28px;
    margin-bottom: 10px;
}

.article {
    width: 100%;
    margin: 25px auto;
}

.article .title {
    font-size: 48px;
    margin-bottom: 10px;
}

.article img {
    width: 100%;
    height: 80%;
    margin: 25px 0;
}

.article p {
    margin: 25px auto;
    line-height: 1.5;
}

.page-header h1 {
    font-weight: 300;
    text-transform: uppercase;
    margin: 25px 0;
    border-bottom: 1px solid #000000;
}

.page-main .post {
    width: 100%;
    margin: 50px 0 0 0;
    display: inline-block;
    vertical-align: top;
}

.page-main .post img {
    width: 25%;
    height: 200px;
    display: inline-block;
    vertical-align: middle;
}

.page-main .post-info {
    width: 70%;
    float: right;
}

.page-main .post .title {
    font-size: 36px;
    margin: 10px auto;
}

.posts .post {
    width: 100%;
    margin: 50px 0;
}

.posts .post img {
    display: none;
}

.posts .post .info {
    margin: 10px 0;
}

.comments-area {
    margin: 25px auto;
    border-top: 1px solid #818181;
}

.comments-title {
    color: #000000;
    padding: 10px 0;
}

.comment-list {
    margin: 25px 0;
    list-style-type: none;
    border-bottom: 1px solid #818181;
}

.comment-list li {
    list-style-type: none;
    margin: 25px 0;
}

.comment-list img {
    width: 50px;
    height: 50px;
    float: left;
    display: block;
    margin: 25px;
    border-radius: 100px;
}

.comment-author {
    color: #000000;
    display: block;
    margin-bottom: 10px;
}

.comment-list p {
    color: #000000;
    display: block;
}

.reply a {
    margin-bottom: 10px;
    margin-left: 100px;
    display: inline-block;
}

#respond {
    display: block;
    margin-top: 25px;
}

#respond h3 {
    color: #000000;
    padding-bottom: 10px;
}

.comment-notes {
    margin-bottom: 10px;
    color: #000000;
}

#cancel-comment-reply-link {
    font-weight: 400;
}

.comment-form a {
    display: inline-block;
    padding-bottom: 10px;
}

.comment-form label {
    color: #000000;
    display: block;
}

.comment-form textarea {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #000000;
    display: block;
    box-sizing: border-box;
}

.comment-form textarea:focus {
    outline: none;
    border: 1px solid #5333ed;
}

.comment-form input[type='text'] {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #000000;
    display: block;
    box-sizing: border-box;
}

.comment-form input[type='text']:focus {
    outline: none;
    border: 1px solid #5333ed;
}

#submit {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

#submit:hover {
    background-color: #5333ed;
    color: #ffffff;
    border: 1px solid #5333ed;
    cursor: pointer;
}

#submit:active,
#submit:focus {
    outline: none;
}

.footer {
    width: 100%;
    height: 100px;
    position: relative;
    top: 100px;
    clear: both;
    border-top: 1px solid #000000;
}

.footer p {
    font-size: 12px;
    color: #000000;
    text-align: center;
    padding: 25px;
}

@media (max-width: 1100px) {
    .content {
        width: 80%;
    }

    .headline .post img,
    .section .post img,
    .page-main .post img {
        width: 100%;
        height: 80%;
        display: block;
    }

    .headline .post .title,
    .section .post .title,
    .page-main .post .title {
        font-size: 28px;
    }

    .section .post,
    .page-main .post {
        width: 100%;
        margin: 50px 0;
        display: block;
    }

    .section .post:nth-child(3n+1),
    .section .post:nth-child(3n+3) {
        margin-left: 0;
    }

    .article .title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .page-header h1 {
        font-size: 20px;
    }

    .page-main .post-info {
        width: 100%;
        float: none;
    }
}