* {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', serif;
}

a {
	color: #191919;
	text-decoration: none;
}

a:hover {
	color: #F22613;
}

.content {
	width: 1000px;
	margin: 0 auto;
	display: block;
}

.header {
	text-align: center;
}

.top {
	height: 40px;
	text-align: left;
	padding: 10px 0 0 0;
	border-bottom: 1px solid #191919;
}

.search-field {
	width: 25%;
	height: 30px;
	padding: 0 5px;
	border: 1px solid #191919;
	font-size: 14px;
	box-sizing: border-box;
}

.search-field:focus {
	outline: none;
	border: 1px solid #F22613;
}

.search form input[type="submit"] {
	width: 60px;
	height: 30px;
	font-size: 14px;
	background-color: #ffffff;
	color: #191919;
	border: 1px solid #191919;
}

.search form input[type="submit"]:hover {
	background-color: #F22613;
	color: #ffffff;
	border: 1px solid #F22613;
}

.search form input[type="submit"]:focus {
	outline: none;
}

#title {
	color: #000000;
	text-transform: uppercase;
	font-size: 40px;
	display: inline-block;
	padding: 25px;
}

.head p {
	padding: 0 0 20px 0;
	color: #818181;
}

.navigation {
	border-top: 1px solid #191919;
	border-bottom: 1px solid #191919;
}

.navigation ul {
	list-style: none;
	text-align: center;
}

.navigation ul li {
	margin: 10px;
	display: inline-block;
}

.post {
	width: 100%;
	margin: 25px 0;
}

.post h1 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 10px;
}

.post img {
	width: 100%;
	height: 100%;
	margin: 10px 0;
}

.post h1 a:hover {
	text-decoration: underline;
}

.post h4 {
	font-weight: 400;
	font-size: 14px;
	color: #818181;
	margin: 10px 0;
}

.post p {
	color: #191919;
	margin-bottom: 10px;
}

.bullet {
	margin: 0 5px;
}

#comments {
	font-size: 14px;
	color: #818181;
}

#comments:hover {
	color: #F22613;
	text-decoration: underline;
}

.headline {
	display: inline-block;
	margin-top: 20px;
}

.headline img {
	width: 47.5%;
	height: 350px;
	display: inline-block;
	vertical-align: middle;
}

.headline .post-info {
	width: 47.5%;
	float: right;
}

.headline h1 {
	font-size: 48px;
}

.section {
	border-top: 1px solid #d3d3d3;
}

.section h2 {
	font-weight: 300;
	padding: 10px 0;
}

.section .post {
	width: 30%;
	margin: 10px 0 25px 0;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.section .post:nth-child(3n+1),
.section .post:nth-child(3n+3) {
	margin-left: 5%;
}

.section .post img {
	height: 200px;
	margin: 10px 0;
}

.main {
	width: 100%;
	margin: 25px 0;
}

.main .post {
	width: 100%;
}

.main .post img {
	display: none;
}

.article {
	width: 100%;
	margin: 25px 0;
}

.article .post {
	width: 100%;
}

.article h1 {
	font-size: 48px;
	font-weight: 400;
}

.page-header h1 {
	font-weight: 400;
	margin: 25px 0 0 0;
	border-bottom: 1px solid #191919;
}

.page-main .post {
	width: 100%;
	margin: 0;
	padding: 10px 0;
	display: inline-block;
	vertical-align: top;
	border-bottom: 1px solid #d3d3d3;
	clear: both;
	float: none;
}

.page-main .post:last-child {
	border: 0;
}

.page-main .post img {
	width: 25%;
	height: 200px;
	display: inline-block;
	vertical-align: middle;
}

.page-main .post-info {
	width: 70%;
	float: right;
	padding: 10px 0;
}

.comments-title {
	color: #191919;
	padding: 10px 0;
}

.comments-list {
	list-style: none;
}

.comments-list li {
	margin: 25px 0;
}

.comment-author {
	color: #191919;
	display: block;
	margin-bottom: 10px;
}

.comments-list img {
	float: left;
	display: block;
	margin-right: 10px;
}

.comments-list p {
	color: #191919;
	display: block;
	margin-left: 60px;
}

.reply a {
	display: block;
	padding: 10px 0 0 60px;
}

#respond {
	display: block;
	margin-top: 25px;
}

#respond h3 {
	color: #191919;
	padding-bottom: 10px;
}

.comment-notes {
	margin-bottom: 10px;
	color: #191919;
}

#cancel-comment-reply-link {
	font-weight: 400;
}

.comment-form a {
	display: inline-block;
	padding-bottom: 10px;
}

.comment-form label {
	color: #191919;
	display: block;
}

.comment-form textarea {
	width: 100%;
	height: 200px;
	margin: 0 auto;
	padding: 5px;
	margin: 10px 0;
	border: 1px solid #818181;
	display: block;
	box-sizing: border-box;
}

.comment-form textarea:focus {
	outline: none;
	border: 1px solid #F22613;
}

.comment-form input[type='text'] {
	width: 100%;
	height: 40px;
	padding: 5px;
	margin: 10px 0;
	border: 1px solid #818181;
	display: block;
	box-sizing: border-box;
}

.comment-form input[type='text']:focus {
	outline: none;
	border: 1px solid #F22613;
}

#submit {
	width: 100%;
	height: 40px;
	background-color: #ffffff;
	color: #191919;
	border: 1px solid #818181;
}

#submit:hover {
	background-color: #F22613;
	color: #ffffff;
	border: 1px solid #F22613;
}

#submit:active, #submit:focus {
	outline: none;
}

.footer {
	clear: both;
	position: relative;
	top: 100px;
	border-top: 1px solid #191919;
}

.footer p {
	color: #191919;
	font-size: 12px;
	padding: 25px 0 25px 0;
}

@media (max-width: 1080px) {
	.content {
		width: 90%;
	}

	.top {
		text-align: center;
	}

	.search-field {
		width: 50%;
	}

	.navigation ul li {
		display: block;
	}

	.headline h1,
	.article h1 {
		font-size: 30px;
	}

	.headline img,
	.section .post img,
	.page-main .post img {
		width: 100%;
		height: 80%;
		display: block;
	}

	.headline .post-info {
		width: 100%;
		float: none;
	}

	.section .post {
		width: 100%;
		margin: 25px 0;
		float: none;
	}

	.section .post:nth-child(3n+1),
	.section .post:nth-child(3n+3) {
		margin-left: 0;
	}

	.page-main .post {
		width: 100%;
		margin: 25px 0;
		display: block;
		border: 0;
	}

	.page-main .post-info {
		width: 100%;
		float: none;
		padding: 10px 0;
	}
}